<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="2.3.2" targetFramework="net452" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="LowLevelDesign.Diagnostics.Commons" version="1.0.0.1" targetFramework="net452" />
  <package id="LowLevelDesign.Diagnostics.LogStore.Commons" version="1.0.0.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="NEST" version="2.3.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
</packages>