<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <nlog throwExceptions="true">
    <extensions>
      <add assembly="LowLevelDesign.Diagnostics.Harvester.NLog" />
    </extensions>
    <targets>
      <target name="console" type="ColoredConsole" layout="${longdate}|${processid}(${threadid})|${logger}|${uppercase:${level}}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}" />
      <target name="diag" type="DiagnosticsKit" diagnosticsCastleUrl="http://localhost:50890/test"
              layout="${longdate}|${processid}(${threadid})|${logger}|${uppercase:${level}}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="diag" />
      <logger name="*" minLevel="Trace" writeTo="console" />
    </rules>
  </nlog>
</configuration>