<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="diag"/>
        <add name="console"/>
      </listeners>
    </trace>
    <sharedListeners>
      <add name="diag" type="LowLevelDesign.Diagnostics.Harvester.SystemDiagnostics.DiagnosticsKitTraceListener, LowLevelDesign.Diagnostics.Harvester.SystemDiagnostics" initializeData="http://localhost:50890/test"/>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
    <sources>
      <source name="TestSource" switchValue="Verbose">
        <listeners>
          <add name="diag"/>
          <add name="console"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" switchValue="Verbose">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
      <source name="System.Net" switchValue="Verbose">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <nlog throwExceptions="true">
    <extensions>
      <add assembly="LowLevelDesign.Diagnostics.Harvester.NLog"/>
    </extensions>
    <targets>
      <target name="console" type="ColoredConsole" layout="${longdate}|${processid}(${threadid})|${logger}|${uppercase:${level}}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}"/>
      <target name="diag" type="DiagnosticsKit" diagnosticsCastleUrl="http://localhost:50890/test" layout="${longdate}|${processid}(${threadid})|${logger}|${uppercase:${level}}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}"/>
      <target type="BufferingWrapper" name="diagBatch" bufferSize="2">
        <target type="DiagnosticsKit" diagnosticsCastleUrl="http://localhost.fiddler:50890/test/" layout="${longdate}|${processid}(${threadid})|${logger}|${uppercase:${level}}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="diag"/>
      <logger name="*" minLevel="Trace" writeTo="diagBatch"/>
      <logger name="*" minLevel="Trace" writeTo="console"/>
    </rules>
  </nlog>
  <log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="diag" type="LowLevelDesign.Diagnostics.Harvester.log4net.DiagnosticsKitAppender, LowLevelDesign.Diagnostics.Harvester.log4net">
      <diagnosticsCastleUrl value="http://localhost:50890/test"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="diag"/>
      <appender-ref ref="console"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
