<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to localhost ES">
                    <match url="^$" />
                    <action type="Redirect" url="index.html?location=http://localhost:9200/#!/cluster" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
