<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <configSections>
    <section name="elasticLogStore" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    <section name="mySqlLogStore" type="LowLevelDesign.Diagnostics.LogStore.MySql.MySqlLogStoreConfigSection, LowLevelDesign.Diagnostics.LogStore.MySql" xdt:Transform="Insert" />
  </configSections>

  <appSettings>
    <add key="diag:confmgr" value="LowLevelDesign.Diagnostics.LogStore.MySql.MySqlAppConfigurationManager, LowLevelDesign.Diagnostics.LogStore.MySql"
         xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="diag:usermgr" value="LowLevelDesign.Diagnostics.LogStore.MySql.MySqlAppUserManager, LowLevelDesign.Diagnostics.LogStore.MySql"
         xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="diag:logstore" value="LowLevelDesign.Diagnostics.LogStore.MySql.MySqlLogStore, LowLevelDesign.Diagnostics.LogStore.MySql"
         xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>

  <connectionStrings xdt:Transform="Insert">
    <add name="mysqlconn" connectionString="Data Source=localhost;Initial Catalog=diagnosticsdb;User Id=diag;Password=9FuNsjNrKkrhr6ZgpLsYPsWwCJZn" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <elasticLogStore xdt:Transform="Remove" />
  <mySqlLogStore connectionStringName="mysqlconn" xdt:Transform="Insert" />

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.data xdt:Transform="Insert">
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>