<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="luceneNetLogStore" type="LowLevelDesign.Diagnostics.LogStore.LuceneNet.LuceneNetConfigSection, LowLevelDesign.Diagnostics.LogStore.LuceneNet" />-->
    <section name="mySqlLogStore" type="LowLevelDesign.Diagnostics.LogStore.MySql.MySqlConfigSection, LowLevelDesign.Diagnostics.LogStore.MySql"/>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor"/>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="mysqlconn" connectionString="Data Source=localhost;Initial Catalog=diagnosticsdb;User Id=test;Password=test1234" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="configdb" connectionString="Data Source=localhost;Initial Catalog=diagnosticsdb;User Id=test;Password=test1234" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <!--<luceneNetLogStore indexPath="d:/data/lucene/llddiag" logEnabled="true" logPath="d:/logs/llddiag/lucene.log" />-->
  <mySqlLogStore connectionStringName="mysqlconn"/>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true"/>
    <!-- DIAG -->
    <!--<add key="diag:logstore" value="LowLevelDesign.Diagnostics.LogStore.LuceneNet.LuceneNetLogStore, LowLevelDesign.Diagnostics.LogStore.LuceneNet"/>-->
    <!--<add key="diag:logstore" value="LowLevelDesign.Diagnostics.LogStore.MySql.MySqlLogStore, LowLevelDesign.Diagnostics.LogStore.MySql" />-->
    <add key="diag:confmgr" value="LowLevelDesign.Diagnostics.LogStore.MySql.MySqlAppConfigurationManager, LowLevelDesign.Diagnostics.LogStore.MySql"/>
    <add key="diag:defaultNoOfDaysToKeepLogs" value="2"/>
    <add key="diag:gridcacheInSeconds" value="0"/>
    <add key="webPages:Enabled" value="false"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders"/>
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add assembly="LowLevelDesign.Diagnostics.Commons"/>
    </assemblies>
    <namespaces>
      <add namespace="System.Collections.Generic"/>
      <add namespace="LowLevelDesign.Diagnostics.Castle"/>
      <add namespace="LowLevelDesign.Diagnostics.Commons"/>
      <add namespace="LowLevelDesign.Diagnostics.Commons.Models"/>
      <add namespace="LowLevelDesign.Diagnostics.Castle.Models"/>
    </namespaces>
  </razor>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.diagnostics>
    <assert assertuienabled="false"/>
    <trace autoflush="true">
      <listeners/>
    </trace>
  </system.diagnostics>
</configuration>