@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<ApplicationGridModel>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Applications Grid</div>
    <div class="panel-body">
        @if (Model.ApplicationStatuses.Count == 0) {
            <span>
                No logs found - maybe there are some <a href="~/apps">waiting excluded applications</a> or you need to install one of the
                <a href="https://github.com/lowleveldesign/diagnostics-kit/wiki#2-logs-collection" target="_blank">harvesters</a> in your applications.
            </span>
        }
    </div>

    @if (Model.ApplicationStatuses.Count > 0) {
    <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Application</th>
                    @foreach (var srv in Model.Servers) {
                        <th>@srv</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var appstat in Model.ApplicationStatuses) {
                    <tr>
                        <td>@appstat.Key</td>
                        @foreach (var srv in Model.Servers) {
                            if (appstat.Value.ContainsKey(srv)) {
                                <td>FIXME: information about the last app status</td>
                            } else {
                                <td> - </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>